ion-content {
  --ion-background-color: #111d12;
}

ion-card {
  --ion-background-color: white;
}

.headerDate {
  background-color: lightgrey;
}

.dataChanges {
  background-color: lightcyan;
  border-bottom: 1px solid black;
}
