<ion-header>
  <ion-toolbar>
    <ion-title>List of Badges</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-row>
    <ion-col>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://media.giphy.com/media/fUXZfIDUl8K7lJJ9KK/giphy.gif" >
          </ion-avatar>
          <ion-label>
            <h3>Our Savior!</h3>
            <p>Gain 100 points</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://media.giphy.com/media/J18kdQQT6aIF4zukuN/giphy.gif" >
          </ion-avatar>
          <ion-label>
            <h3>Enthusiasts</h3>
            <p>Login 10 times.</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>

