<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Badges</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <ion-card class="bigSection">
    <ion-row class="headerBadges">
      <ion-col>
        <ion-card class="headerBadgesCard"><ion-card-title class="headerBadge">Add new place</ion-card-title></ion-card>
      </ion-col>
      <ion-col >
     </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <!-- login badge elements -->
    <ion-row>
      <ion-col>
        <ion-card class="loginCard">
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <!-- <ion-card-subtitle class="no">#001</ion-card-subtitle> -->
                <ion-card-title>Beginner</ion-card-title>
                <ion-card-subtitle >
                  <ion-badge class="cardSub">
                    <h2>Create (1) time</h2>
                  </ion-badge>
                </ion-card-subtitle>
                <ion-button *ngIf="buttonClaimedLogin1 == ''" class="claimModal" color="light" (click)="toClaimLoginModal1()">Claim</ion-button>
                <ion-button disabled *ngIf="buttonClaimedLogin1 == true" class="claimModal" color="light" (click)="toClaimLogModal1()">Claim</ion-button>
                <!-- <ion-button disabled *ngIf="buttonClaimedLogin1 == false" class="claimModal" color="light" >Already Claim</ion-button> -->
              </ion-col>
              <ion-col size="4">
                <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
                <ion-img class="loginImageBorder" src="assets/badges/border1.png"></ion-img>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="loginCard">
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <!-- <ion-card-subtitle class="no">#002</ion-card-subtitle> -->
                <ion-card-title>Intermediate</ion-card-title>
                <ion-card-subtitle >
                  <ion-badge class="cardSub">
                    <h2>Create (7) times</h2>
                  </ion-badge>
                </ion-card-subtitle>
                <ion-button *ngIf="buttonClaimedLogin2 == ''" class="claimModal" color="light" (click)="toClaimLoginModal2()">Claim</ion-button>
                <ion-button disabled *ngIf="buttonClaimedLogin2 == true" class="claimModal" color="light" (click)="toClaimLogModal2()">Claim</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
                <ion-img class="loginImageBorder" src="assets/badges/border2.png"></ion-img>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="loginCard">
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <!-- <ion-card-subtitle class="no">#003</ion-card-subtitle> -->
                <ion-card-title>Expert</ion-card-title>
                <ion-card-subtitle >
                  <ion-badge class="cardSub">
                    <h2>Create (30) times</h2>
                  </ion-badge>
                </ion-card-subtitle>
                <ion-button *ngIf="buttonClaimedLogin3 == ''" class="claimModal" color="light" (click)="toClaimLoginModal3()">Claim</ion-button>
                <ion-button disabled *ngIf="buttonClaimedLogin3 == true" class="claimModal" color="light" (click)="toClaimLogModal3()">Claim</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
                <ion-img class="loginImageBorder" src="assets/badges/border3.png"></ion-img>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="loginCard">
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <!-- <ion-card-subtitle class="no">#004</ion-card-subtitle> -->
                <ion-card-title>Perfect</ion-card-title>
                <ion-card-subtitle >
                  <ion-badge class="cardSub">
                    <h2>Create (90) times</h2>
                  </ion-badge>
                </ion-card-subtitle>
                <ion-button *ngIf="buttonClaimedLogin4 == ''" class="claimModal" color="light" (click)="toClaimLoginModal1()">Claim</ion-button>
                <ion-button disabled *ngIf="buttonClaimedLogin4 == true" class="claimModal" color="light" (click)="toClaimLogModal4()">Claim</ion-button>
                
              </ion-col>
              <ion-col size="4">
                <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
                <ion-img class="loginImageBorder" src="assets/badges/border4.png"></ion-img>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-card>

<ion-card class="divideSection"></ion-card>

<ion-card class="bigSection">
  <ion-row class="headerBadges">
    <ion-col>
      <ion-card class="headerBadgesCard"><ion-card-title class="headerBadge">Contribution</ion-card-title></ion-card>
    </ion-col>
    <ion-col >
   </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <!-- Contribution badge elements -->
  <ion-row>
    <ion-col>
      <ion-card class="contributionCard">
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <!-- <ion-card-subtitle class="no">#001</ion-card-subtitle> -->
              <ion-card-title>Beginner</ion-card-title>
              <ion-card-subtitle >
                <ion-badge class="cardSub">
                  <h2>Edit POI (1) time</h2>
                </ion-badge>
              </ion-card-subtitle>
              <ion-button *ngIf="buttonClaimedCont1 == ''" class="claimModal" color="light" (click)="toClaimContModal1()">Claim</ion-button>
              <ion-button disabled *ngIf="buttonClaimedCont1 == true" class="claimModal" color="light" (click)="toClaimContModal1()">Claim</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-img class="contributionImage" src="assets/badges/contribution.png"></ion-img>
              <ion-img class="contributionImageBorder" src="assets/badges/border1.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="contributionCard">
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <!-- <ion-card-subtitle class="no">#002</ion-card-subtitle> -->
              <ion-card-title>Intermediate</ion-card-title>
              <ion-card-subtitle >
                <ion-badge class="cardSub">
                  <h2>Edit POI (20) times</h2>
                </ion-badge>
              </ion-card-subtitle>
              <ion-button *ngIf="buttonClaimedCont2 == ''" class="claimModal" color="light" (click)="toClaimContModal2()">Claim</ion-button>
              <ion-button disabled *ngIf="buttonClaimedCont2 == true" class="claimModal" color="light" (click)="toClaimContModal2()">Claim</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-img class="contributionImage" src="assets/badges/contribution.png"></ion-img>
              <ion-img class="contributionImageBorder" src="assets/badges/border2.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card class="contributionCard">
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <!-- <ion-card-subtitle class="no">#003</ion-card-subtitle> -->
              <ion-card-title>Expert</ion-card-title>
              <ion-card-subtitle >
                <ion-badge class="cardSub">
                  <h2>Edit POI (60) times</h2>
                </ion-badge>
              </ion-card-subtitle>
              <ion-button *ngIf="buttonClaimedCont3 == ''" class="claimModal" color="light" (click)="toClaimContModal3()">Claim</ion-button>
              <ion-button disabled *ngIf="buttonClaimedCont3 == true" class="claimModal" color="light" (click)="toClaimContModal3()">Claim</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-img class="contributionImage" src="assets/badges/contribution.png"></ion-img>
              <ion-img class="contributionImageBorder" src="assets/badges/border3.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
      <ion-card class="contributionCard">
        <ion-card-content>
          <ion-row>
            <ion-col size="8">
              <!-- <ion-card-subtitle class="no">#004</ion-card-subtitle> -->
              <ion-card-title>Perfect</ion-card-title>
              <ion-card-subtitle >
                <ion-badge class="cardSub">
                  <h2>Edit POI (100) times</h2>
                </ion-badge>
              </ion-card-subtitle>
              
              <ion-button *ngIf="buttonClaimedCont4 == ''" class="claimModal" color="light" (click)="toClaimContModal4()">Claim</ion-button>
              <ion-button disabled *ngIf="buttonClaimedCont4 == true" class="claimModal" color="light" (click)="toClaimContModal4()">Claim</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-img  class="contributionImage" src="assets/badges/contribution.png"></ion-img>
              <ion-img class="contributionImageBorder" src="assets/badges/border4.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>

