
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/poi-info"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let data of data">
    <ion-card-header>
      {{data.whodunnit}}
    </ion-card-header>
    
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-card-content>
                  <ion-badge>Name change</ion-badge>
                  <!-- <label for="changes-made">Changes name of the place: </label> -->
                  <div *ngFor="let data of data.object_changes.name;  let i = index">
                    <div *ngIf="i == 0">
                      {{data}} => 
                    </div>
                    <div *ngIf="i== 1">
                      {{data}} 
                    </div>
                  </div>
                  <ion-badge>Field change</ion-badge>
                  <!-- <label for="changes-made">Changes field of the place: </label> -->
                  <div *ngFor="let data of data.object_changes.fields; let i = index"> 
                    <div *ngIf="i == 0">
                      {{data | json}} => 
                    </div>
                    <div *ngIf="i== 1">
                      {{data | json}} 
                    </div>
                  </div>
                  <!-- <label for="changes-made">Changes happened: </label> -->
                  <div *ngFor="let data of data.object_changes.report_reason;  let i = index">
                    <div *ngIf="i == 0">
                      {{data}} => 
                    </div>
                    <div *ngIf="i== 1">
                      {{data}} 
                    </div>
                  </div>
            
                  <div *ngFor="let data of data.object_changes.is_report;  let i = index">
                    <div *ngIf="i == 0">
                      {{data}} => 
                    </div>
                    <div *ngIf="i== 1">
                      {{data}} 
                    </div>
                  </div>
                </ion-card-content>
                
            

              </div>
            </ion-col>
            <ion-col>
              <div>
               
                
                <div>{{data.event}}</div>
                <ion-datetime displayFormat="MMM DD, YYYY HH:mm" value="{{data.created_at}}" display-timezone="utc"></ion-datetime>
                
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
   
  </ion-card>

</ion-content>


