
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/poi-info"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card *ngFor="let data of data">
    <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col class="headerDate" >
                <div>
                  Who did 
                  <div>{{data.user.full_name}}</div>
                  <ion-datetime displayFormat="DD-MM-YYYY" value="{{data.created_at}}"></ion-datetime>
                </div>
              </ion-col>
            </ion-row>
      
            <ion-row>
              <ion-col style="text-align: center; background-color:lightblue; color: black;">Before</ion-col>
              <ion-col></ion-col>
              <ion-col style="text-align: center;  background-color:lightblue; color: black;">After</ion-col>
            </ion-row>
            
            <ion-row *ngIf="data.object_changes.name ? data.object_changes.name : '' ">
              <ion-col class="dataChanges" style="text-align: center;"><pre >Name : {{data.object_changes.name[0] | json}}</pre></ion-col>
              <ion-col></ion-col>
              <ion-col class="dataChanges" style="text-align: center;"><pre >Name : {{data.object_changes.name[1] | json}}</pre></ion-col>
            </ion-row>
      
            <ion-row *ngIf="data.object_changes.category ? data.object_changes.category : '' ">
              <ion-col class="dataChanges" style="text-align: center;"> <pre >Category : {{data.object_changes.category[0] | json}}</pre></ion-col>
              <ion-col></ion-col>
              <ion-col class="dataChanges" style="text-align: center;"> <pre >Category : {{data.object_changes.category[1] | json}}</pre></ion-col>
            </ion-row>
      
            <ion-row *ngIf="data.object_changes.event ? data.object_changes.event : '' ">
              <ion-col class="dataChanges" style="text-align: center;"> <pre >Event :  {{data.object_changes.event[0] | json}}</pre></ion-col>
              <ion-col></ion-col>
              <ion-col class="dataChanges" style="text-align: center;"> <pre >Event : {{data.object_changes.event[1] | json}}</pre></ion-col>
            </ion-row>
      
            <ion-row *ngIf="data.object_changes.event_date ? data.object_changes.event_date : '' ">
              <ion-col class="dataChanges" style="text-align: center;"> <pre >Event Date :  {{data.object_changes.event_date[0] | json}}</pre></ion-col>
              <ion-col></ion-col>
              <ion-col class="dataChanges" style="text-align: center;"> <pre >Event Date : {{data.object_changes.event_date[1] | json}}</pre></ion-col>
            </ion-row>
      
            <ion-row *ngIf="data.object_changes.fields ? data.object_changes.fields : '' ">
              <ion-col class="dataChanges" style="text-align: center;"> <pre >Fields :  {{data.object_changes.fields[0] | json}}</pre></ion-col>
              <ion-col></ion-col>
              <ion-col class="dataChanges" style="text-align: center;"> <pre> Fields : {{data.object_changes.fields[1] | json}}</pre></ion-col>
            </ion-row>
      
          </ion-grid>





    </ion-card-header>
    
      
   
  </ion-card>

</ion-content>









