ion-card {
  width: 100%;
  height: 160px;
  box-shadow: none;
  border-radius: 12px;
  img {
    object-fit: cover;
    width: 100%;
    transform: scale(1.1, 1.1) rotate(1deg);
    transition: 600ms all ease-in-out;
  }
}

.swiper-slide-active {
  transform: scale(1.05, 1.05);
  img {
    transform: scale(1, 1);
  }
}

.swiper-slide {
  transition: 400ms all ease-in-out;
}

#button-info-history {
  text-align: center;
}

.button-info {
  width: 160px;
  height: 60px;
  margin-right: 100px;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 130%;
}

.button-history {
  width: 160px;
  height: 60px;
  margin-left: 100px;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 130%;
}

.info-paragraph {
  text-align: center;
}

.footerPOI {
  --background: #54d61c;
}
