.row {
  margin: 10px 10px;
}

.name {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  color: #0e1026;
}

.name_input {
  background: #ffffff;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(60, 134, 221, 0.15);
  border-radius: 5px;
}

.email {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  color: #0e1026;
}

.email_input {
  background: #ffffff;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(60, 134, 221, 0.15);
  border-radius: 5px;
}

.mobile_number {
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-transform: capitalize;

  color: #0e1026;
}

.mobile_number_input {
  background: #ffffff;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(60, 134, 221, 0.15);
  border-radius: 5px;
}

#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.input-group {
  background-color: #98cbec !important;
}

.logout_button {
  background: #e9e6e6;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgb(60 134 221 / 15%);
  border-radius: 5px;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
  border-radius: 900px 900px;
  margin-left: 100px;
}

.update_button {
  background: #e9e6e6;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgb(60 134 221 / 15%);
  border-radius: 5px;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 30.5rem !important;
}

.button-left {
  width: 160px;
  height: 60px;
  margin-right: 100px;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 130%;
}

.button-right {
  width: 160px;
  height: 60px;
  margin-left: -50px;
  --vertical-align: middle;
  --padding-start: 10px;
  --padding-end: 10px;
  font-size: 130%;
}
