<ion-header>
  <ion-toolbar>
    <ion-title>Badge Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="borderForm" (ngSubmit)="save()">
    <ion-list >
      <ion-radio-group value="badge1" [formControl]="borderForm.controls['borderChosen']">

        <ion-item class="badge1" >
          <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
          <ion-img class="loginImageBorder" src="assets/badges/border1.png"></ion-img>
          <ion-radio class="badgeRadio" slot="start" value="badge1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
          <ion-img class="loginImageBorder" src="assets/badges/border2.png"></ion-img>
          <ion-radio slot="start" value="badge2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
          <ion-img class="loginImageBorder" src="assets/badges/border3.png"></ion-img>
          <ion-radio slot="start" value="badge3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-img class="loginImage" src="assets/badges/login.png"></ion-img>
          <ion-img class="loginImageBorder" src="assets/badges/border4.png"></ion-img>
          <ion-radio slot="start" value="badge4"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-button expand="full" color="primary" (click)="save()">Submit Info</ion-button>
    </ion-list>
  </form>
</ion-content>
