.loginImage {
  position: absolute;
  width: 200px;
  z-index: 3;
}

.loginImageBorder {
  position: absolute;
  width: 200px;
}

.badge1 {
  position: relative;
}

ion-radio {
  height: 200px;
  // --color: transparent;
  // --color-checked: transparent;
}
