<ion-header>
  <ion-toolbar>
    <ion-title>Leaderboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- <ion-card>
    <ngx-datatable
      [rows]="players"
      [ngClass]="tableStyle"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [columnMode]="'force'"
    >
      <ngx-datatable-column name="ID"></ngx-datatable-column>
      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Point"></ngx-datatable-column>

    </ngx-datatable>
  </ion-card> -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Total Point</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of players; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{data.name}}</td>
        <td>{{data.totalPoints}}</td>
      </tr>
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>
</ion-content>
