ion-header {
  --ion-background-color: #ffc409;
}

ion-card {
  --ion-background-color: #ffffff;
}

ion-content {
  --ion-background-color: #1f2351;
}

.imgA1 {
  z-index: 3;
  position: absolute;
  bottom: 50px;
  left: 52px;
  width: 200px;
}
.imgB1 {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 300px;
}

.imgC1 {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 300px !important;
}

.imgD1 {
  transform: rotate(45deg);
  z-index: 4;
  position: absolute;
  bottom: -100px;
  left: -200px;
}

.imgE1 {
  transform: rotate(315deg);
  z-index: 4;
  position: absolute;
  bottom: -100px;
  left: 200px;
}

.badgeClaimCard {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: visible;
  --ion-background-color: black;
}

.cardContent {
  position: relative;
  width: 550px;
  height: 350px;
}

.imgContentA {
  position: absolute;
  z-index: 4;
  bottom: -215px;
  left: 40px;
  width: 200px;
}

.imgContentB {
  position: absolute;
  z-index: 3;
  bottom: -250px;
  left: 0px;
  width: 50%;
}

.buttonClaim {
  position: absolute;
  bottom: -270px;
  left: 200px;
  z-index: 10;
  font-size: 2em;
}
