.loginImage {
  position: absolute;
  width: 200px;
  z-index: 3;
}

.loginImageBorder {
  position: absolute;
  width: 200px;
}

.badge3 {
  position: relative;
}

ion-radio {
  height: 200px;
  --color: transparent;
  --color-checked: transparent;
}
