ion-content {
  --ion-background-color: #1f2351;
  .profileCard {
    // overflow: visible;
    background-color: black;
    height: 400px;
    width: 300px;
    border-radius: 8px;
    // margin: 26px 10px;
    ion-col {
      position: relative;
      ion-img {
        position: absolute;
      }
    }
  }
}

.knightRight {
  position: absolute;
  width: 50em;
  left: -9em;
  z-index: 3;
}

.backRight {
  position: absolute;
  width: 20em;
  left: 11em;
  z-index: 2;
}

.knightLeft {
  position: absolute;
  width: 50em;
  left: -9em;
  z-index: 3;
}

.backLeft {
  position: absolute;
  width: 20em;
  left: 0em;
  z-index: 2;
}

.pictureProfile {
  width: 200px;
  bottom: -180px;
  left: 30px;
}

.pictureBorderDefault {
  width: 330px;
  bottom: -245px;
  left: -34px;
}

.pictureBorder {
  width: 300px;
  bottom: -225px;
  left: -15px;
}

.pictureBorder1 {
  width: 370px;
  bottom: -255px;
  left: -65px;
}

.changeBorder {
  left: 40px;
  position: absolute;
  bottom: -330px;
}

.card-alert {
  width: 100px;
  height: 100px;
}

.loginImage {
  position: absolute;
  width: 300px;
  z-index: 3;
  bottom: 100px;
  left: 80px;
}

.contributionImage {
  position: absolute;
  width: 230px;
  z-index: 3;
  bottom: 130px;
  left: 115px;
}

.loginImageBorder {
  position: absolute;
  width: 300px;
  bottom: 100px;
  left: 80px;
}

.loginImageButton {
  position: absolute;
  bottom: 30px;
  left: 130px;
  z-index: 4;
}

.badge1 {
  position: relative;
  height: 400px;
}

h1 {
  text-align: center;
  position: absolute;
  bottom: 220px;
  left: 120px;
}

.displayBadge {
  border-radius: 8px;
  background-color: black;
}

ion-title {
  color: white;
}

.subDashboard {
  background-color: white;
}

.roleProgress {
  border-radius: 8px;
  background-color: black;
}

.roleTitle {
  font-size: 2em;
  font-weight: 900 !important;
}

ion-select {
  background-color: white;
  color: black;
  width: 10em;
  left: 1em;
}

.star {
  width: 150% !important;
  left: 0px;
  bottom: 0pxm;
}

.middleCard {
  position: relative;
  height: 400px;
  background-color: black;
}

.middlePicture {
  position: absolute;
  width: 200px;
  bottom: -180px;
  left: 7.5em;
}

.middleBorderDefault {
  position: absolute;
  width: 330px;
  bottom: -245px;
  left: 3em;
}

.middleBorderBadge2 {
  position: absolute;
  width: 360px;
  bottom: -255px;
  left: 1em;
}

.middleButton {
  position: absolute;
  left: 8.5em;
  position: absolute;
  bottom: -330px;
}
