.row {
  margin: 10px 10px;
}
.container {
  padding: 40px;
}

// ion-content {
//   // --background: url(/assets/imgs/background/29.jpg) no-repeat center/cover fixed;
//   height: 100%;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// .form {
//   ion-item {
//     --padding-start: 0 !important;
//     --inner-padding-end: 0;
//     --background: transparent;
//     --ripple-color: transparent;

//     ion-label {
//       transform: none;
//       margin: 5px 0 0 0 !important;
//       transform: none;
//       margin: 5px 16px 0 16px !important;
//       width: calc(100% - 32px);
//     }

//     ion-input {
//       --background: var(--cs-background-primary) !important;
//       --padding-bottom: 10px;
//       --padding-end: 10px;
//       --padding-start: 10px;
//       --padding-top: 10px;
//       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
//       margin: 10px 16px !important;
//       width: calc(100% - 32px);
//       border-radius: 5px;
//     }

//     ion-textarea {
//       --background: var(--cs-background-primary) !important;
//       --padding-bottom: 10px;
//       --padding-end: 10px;
//       --padding-start: 10px;
//       --padding-top: 10px;
//       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
//       margin: 10px 16px !important;
//       width: calc(100% - 32px);
//       border-radius: 5px;
//     }

//     ion-select {
//       --background: var(--cs-background-primary) !important;
//       --padding-bottom: 10px;
//       --padding-end: 10px;
//       --padding-start: 10px;
//       --padding-top: 10px;
//       box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
//       margin: 10px 16px !important;
//       width: calc(100% - 32px);
//       border-radius: 5px;
//     }
//   }

//   ion-radio-group {
//     margin: 5px 16px 0 16px !important;
//   }
// }

// ion-button {
//   margin: 5px 16px 0 16px !important;
//   --border-radius: 5px !important;
//   --padding-top: 5px;
//   --padding-bottom: 5px;
//   --padding-start: 10px;
//   --padding-end: 10px;
//   --box-shadow: none;
//   font-size: 17px;
//   font-weight: bold !important;
//   height: auto;
// }
// .place_name {
//   /* POI Name */
//   height: 16px;
//   left: -123px;
//   top: 142px;

//   font-family: Metropolis;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 16px;
//   /* identical to box height */

//   text-transform: capitalize;

//   color: #0e1026;
// }
.place_name_input {
  width: 331px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(60, 134, 221, 0.15);
  border-radius: 5px;
}
.report_reason {
  width: 331px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(60, 134, 221, 0.15);
  border-radius: 5px;
}

// .report_reason_name {
//   height: 16px;
//   left: -123px;
//   top: 257px;

//   font-family: Metropolis;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 16px;
//   /* identical to box height */
//   text-transform: capitalize;
//   color: #0e1026;
// }

// .comment_name {
//   left: -123px;
//   font-family: Metropolis;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 16px;
//   /* identical to box height */
//   text-transform: capitalize;
//   color: #0e1026;
// }

.comments {
  width: 331px;
  height: 187px;
  background: #ffffff;
  border: 1px solid rgba(39, 46, 93, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 5px 20px rgba(60, 134, 221, 0.15);
  border-radius: 5px;
}

.report_button {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  margin: 10px 10px;
}
