<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
    <ion-title>Report Role Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>

      </ion-col>
      <ion-col text-center>
        <img class="imgA1" src="assets/roles/report.svg"><img class="imgB1" src="assets/roles/blue.png">
      </ion-col>
      <ion-col text-center>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Description : </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div>Points to achieve: 60 points.</div>
            <br>
            <div>Users can report any POI</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
