<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form [formGroup]="requiredInfo">

      
        
      <div class="row add-info">

        <div class="col category-place">
          <span>Category</span>
          <ion-select formControlName="category"  cancelText="Dismiss" [class.invalid]="!requiredInfo.controls.category.valid" class="category">
            <ion-select-option>Faculty</ion-select-option>
            <ion-select-option>Residential Collage</ion-select-option>
            <ion-select-option>Hall</ion-select-option>
            <ion-select-option>Facility</ion-select-option>
            <ion-select-option>Parking</ion-select-option>
            <ion-select-option>Library</ion-select-option>
            <ion-select-option>Bus stop</ion-select-option>
          </ion-select>
        </div>

        <div class="col place-name">
          <span>Place name</span>
          <ion-input class="place" formControlName="name"  [class.invalid]="!requiredInfo.controls.name.valid"></ion-input>
        </div>

        <div class="col event-name">
          <span>Event name</span>
          <ion-input class="event" formControlName="event" [class.invalid]="!requiredInfo.controls.event.valid"></ion-input>
        </div>

        <div class="col event-date">
          <ion-datetime displayFormat="DD MM YY" formControlName="event_date" placeholder="Select date event"></ion-datetime>
        </div>

      </div>
    </form>

    
    <form [formGroup] = "uploadForm"  *ngIf="updatedata" class="upload_image">      
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
    </form>


    
      <form [formGroup]="keyValueForm" (ngSubmit)="doSubmit()">
        <div class="form-row" formArrayName="details" *ngFor="let field of keyValueForm.get('details').controls; let ind = index;">
          <ng-container [formGroupName]="ind">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="form-group col-sm-5">
                    <label>Key</label>
                    <!-- <input type="text" class="form-control" formControlName="key" placeholder="Key"> -->
                    <ion-select class="form-control" formControlName="key" placeholder="Select">
                      <ion-select-option value="open-hours">Open hours</ion-select-option>
                      <ion-select-option value="level-buildings">Level of buildings</ion-select-option>
                      <ion-select-option value="website">Website</ion-select-option>
                      <ion-select-option value="phone-number">Phone no</ion-select-option>
                    </ion-select>
                  </div>
                </ion-col>
                <ion-col>
                  <div class="form-group col-sm-5">
                    <label>Value</label>
                    <input type="text" class="form-control" formControlName="value" placeholder="Value" >
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        </div>
      </form>

      
      <ion-buttons start>
        <button ion-button (click)="removeRow(ind)">
          <ion-icon name="remove"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button (click)="addRow()" [disabled]="keyValueForm.invalid">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
      
    
    
    <div class="row">
      <div class="col">
        <ion-button class="button" round *ngIf="adddata" expand="full" color="primary" (click)="save()" [disabled]="requiredInfo.invalid">Add Info</ion-button>

        <ion-button class="button" round *ngIf="updatedata" expand="full" color="primary" (click)="onSubmit(poi_id)" [disabled]="requiredInfo.invalid">Update Info</ion-button>
      </div>
    </div>
    
  </div>
  
</ion-content>
 
