<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
   <form [formGroup]="requiredInfo">

     
      <div class="coordinate">
        <ion-input  formControlName="poi_latitude"  class="latitude" disabled></ion-input>
        <ion-input  formControlName="poi_longitude"  class="longitude" disabled></ion-input>
      </div>
   
      <ion-title class="category_name">Category</ion-title>
      <ion-select formControlName="category"  cancelText="Dismiss" [class.invalid]="!requiredInfo.controls.category.valid" class="category">
        <ion-select-option *ngFor="let categoryData of categoryData" [value]="categoryData.category_name">{{categoryData.category_name}}</ion-select-option>
      </ion-select>
 
      <ion-title class="place_name">Place</ion-title>
      <ion-input class="place" formControlName="name"  [class.invalid]="!requiredInfo.controls.name.valid"></ion-input>


      <ion-title class="event_name">Event happen</ion-title>
      <ion-input class="event" formControlName="event" [class.invalid]="!requiredInfo.controls.event.valid"></ion-input>
    
      <ion-item class="date_event">
        <ion-label>Date event</ion-label>
        <ion-datetime displayFormat="MM DD YY" formControlName="event_date" placeholder="Select Date"></ion-datetime>
      </ion-item>
  </form>

  
  <form [formGroup] = "uploadForm"  *ngIf="updatedata" class="upload_image">      
    <div>
      <input type="file" name="profile" (change)="onFileSelect($event)" />
    </div>
  </form>


  <div class="container">
    <form [formGroup]="keyValueForm" (ngSubmit)="doSubmit()">
      <div class="form-row" formArrayName="details" *ngFor="let field of keyValueForm.get('details').controls; let ind = index;">
        <ng-container [formGroupName]="ind">
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="form-group col-sm-5">
                  <label>Key</label>
                  <input type="text" class="form-control" formControlName="key" placeholder="Key">
                </div>
              </ion-col>
              <ion-col>
                <div class="form-group col-sm-5">
                  <label>Value</label>
                  <input type="text" class="form-control" formControlName="value" placeholder="Value">
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </div>
    </form>

    
    <ion-buttons start>
      <button ion-button (click)="removeRow(ind)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="addRow()" [disabled]="keyValueForm.invalid">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    
  </div>
  
  
  <ion-button class="button" round *ngIf="adddata" expand="full" color="primary" (click)="save()">Add Info</ion-button>

  <ion-button class="button" round *ngIf="updatedata" expand="full" color="primary" (click)="onSubmit(poi_id)">Update Info</ion-button>
  
</ion-content>
 
