<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/poi-info"></ion-back-button>
    </ion-buttons>
    <ion-title>Add POI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-margin">
    <!-- form one here -->
   <ion-row *ngIf="editForm">
      <ion-col size="12" class="ion-no-margin ion-no-padding title">
      </ion-col>
      <ion-col size="12" class="form">
        <form [formGroup]="editForm" (ngSubmit)="submit(editForm.value)" class="ion-margin-top">
         <!-- <ion-item lines="none">
            <ion-label position="stacked" color="accent">Category <span>*</span></ion-label>
            <ion-select formControlName="category" value="fraud" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="library">Library</ion-select-option>
              <ion-select-option value="faculty">Faculty</ion-select-option>
            </ion-select>
          </ion-item>  -->
          <ion-item lines="none">
            <ion-label position="stacked" color="accent">Name <span>*</span></ion-label>
            <ion-input formControlName="poiID" type="text" placeholder="Enter your first name"></ion-input>
          </ion-item>
          <!-- Error messages
          <div class="validation-errors">g
            <ng-container *ngFor="let validation of form_one_validation_messages.firstName">
              <div class="error-message"
                *ngIf="form_one.get('firstName').hasError(validation.type) && (form_one.get('firstName').dirty || form_one.get('firstName').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div> -->
          <ion-button class="ion-float-end" type="submit" [disabled]="!editForm.valid">Submit</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  {{ editForm.value | json}}
</ion-content>
