<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)" method="post">
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input ngModel name="full_name"  required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nickname</ion-label>
      <ion-input ngModel name="nickname"  required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input ngModel name="mobile_number"  required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email"  required ></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password"  required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password Confirmation</ion-label>
      <ion-input type="password" ngModel name="password_confirm"  required ></ion-input>
    </ion-item>

    <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
    <!-- <ion-button type="submit" expand="full" color="danger">Register</ion-button> -->
  </form>
  <p text-center>Already have a account?</p>
  <ion-button expand="full" color="primary" (click)="loginModal()">Login</ion-button>
</ion-content>  