
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/select-campus"></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-slides [options]="option" class="ion-margin-top">

    <ion-slide>
      <ion-card>
        <img src="assets/slides/01.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/slides/02.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/slides/03.jpg">
      </ion-card>
    </ion-slide>

  </ion-slides>
</ion-content>
