<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Poi info</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <!-- display poi image -->
  <img src="https://study.com/cimages/videopreview/videopreview-full/izfvnkemcz.jpg" >
  <div *ngFor="let item of poiInfo">
        <!-- <p class="ion-text-wrap">ID : {{ item.poiID }}</p><br>
        <p class="ion-text-wrap">Latitude : {{ item.latitude }}</p><br>
        <p class="ion-text-wrap">Longitude : {{ item.longitude }}</p><br> -->
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Latitude : {{ item.latitude }} , Longitude : {{ item.longitude }}</ion-card-subtitle>
            <ion-card-title>No place name</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            No place information
          </ion-card-content>

        </ion-card>
      </div>






  <!-- tab buttons -->
  <ion-footer >
    <ion-toolbar class="footerPOI">
      <div id="button-info-history" class="ion-padding">
        <ion-button class="button-info" (click)="buttonEdit()">Edit</ion-button>

        <ion-button class="button-history" (click)="buttonReport()">Report</ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
